<%= javascript_tag do %>
  $("#sidebar a[class*=query]").on("click", function() {
    var href = $(this).attr("href");
    var versionId = $("#fixed_version_id_name").val()
    if (versionId) {
      href += "&fixed_version_id=" + versionId;
    }
    location.href = href;
    return false;
  });

  $(function() {
    <% if @querying_version %>
      $("#content h2").append(" (<%= j @querying_version.name %>)");
    <% end %>
  });
<% end %>

<p>
<%= select :fixed_version_id, :name, Version.visible.all.map {|t| [t.name, t.id]}, :include_blank => true %>
</p>
